<div class="content">
  <form class="search" [formGroup]="searchForm" (submit)="searchRepo()" (reset)="reset()">
    <label>Search by:*</label>

    <div class="search-block">
      <input
        type="search"
        formControlName="searchInput"
        [ngClass]="{ 'is-invalid': submitted && f.searchInput.errors }"
      />
      <div *ngIf="submitted && f.searchInput.errors" class="invalid-feedback">
        <div *ngIf="f.searchInput.errors?.['required']">
          Search field is required
        </div>
        <div *ngIf="f.searchInput.errors?.['minlength']">
          Search field must be at least 3 characters
        </div>
      </div>
    </div>

    <div class="checkbox-block">
      <div>
        <label>In:</label>
        <input type="checkbox" formControlName="nameCheckbox" name="nameCheckbox" (input)="validateCheckboxes()"/>
        <label>name</label>

        <input type="checkbox" formControlName="descriptionCheckbox" name="descriptionCheckbox" (input)="validateCheckboxes()"/>
        <label>description</label>

        <input type="checkbox" formControlName="readmeCheckbox" name="readmeCheckbox" (input)="validateCheckboxes()"/>
        <label>readme</label>
      </div>

      <div class="checkbox-error" *ngIf="invalidCheckboxState">
        At least one checkbox is required!
      </div>
    </div>

    <button type="submit" class="button search-btn" name="searchButton">Search</button>
    <button type="reset" class="button reset-btn" name="resetButton">Reset</button>
  </form>

  <mat-progress-bar mode="indeterminate" *ngIf="isLoading"></mat-progress-bar>

  <div class="searchResult" *ngIf="Results">
    <div class="table-header">
      <div>
        <mat-radio-group
          color="primary"
          aria-label="Sort by"
          [(ngModel)]="sortBy"
          (change)="searchRepo()"
        >
          <label>Sort by: </label>
          <mat-radio-button value="default">Default</mat-radio-button>
          <mat-radio-button value="stars">Stars</mat-radio-button>
          <mat-radio-button value="forks">Forks</mat-radio-button>
        </mat-radio-group>
        <mat-radio-group
          color="primary"
          aria-label="Order by"
          [(ngModel)]="orderBy"
          (change)="searchRepo()"
        >
          <label>Order by: </label>
          <mat-radio-button value="desc">desc</mat-radio-button>
          <mat-radio-button value="asc">asc</mat-radio-button>
        </mat-radio-group>
      </div>
      <div>Total results: {{ TotalResults }}</div>
    </div>

    <table class="table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Full Name</th>
          <th></th>
          <th></th>
          <th>Description</th>
          <th>Language</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let repoDetail of Results">
          <td>{{ repoDetail.name }}</td>
          <td>{{ repoDetail.full_name }}</td>
          <td style="white-space: nowrap">
            Stars: {{ repoDetail.stargazers_count }} <br />
            Watchers: {{ repoDetail.watchers_count }}
          </td>
          <td style="white-space: nowrap">
            Forks: {{ repoDetail.forks_count }} <br />
            Issues: {{ repoDetail.open_issues_count }}
          </td>
          <td>{{ repoDetail.description }}</td>
          <td>{{ repoDetail.language }}</td>
          <td>
            Created at: {{ repoDetail.created_at | date: "YYYY-MM-dd" }} <br />
            Updated at: {{ repoDetail.updated_at | date: "YYYY-MM-dd" }}
          </td>
          <td>By: {{ repoDetail.owner.login }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
